.home {
    font-family: 'Montserrat', sans-serif;
    color:#f1592b;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.images {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.images img {
    border: solid 3px;
    box-shadow: 0px 1px 4px 2px #f1592b;
    transition: transform 0.75s ease-in-out;
}

.images img:hover {
    transform:scale(1.4);
}

#left {
    transition: transform 0.75s ease-in-out;
}

#left:hover {
    transform: scale(1.7) translateX(150px);
}

#right {
    transition: transform 0.75s ease-in-out;
}

#right:hover {
    transform: scale(1.7) translateX(-150px);
}

@media all and (max-width: 1020px){
    .images {
        flex-direction: column;
        
    }

    .images img {
        width:480px;
        height:360px;
    }

    #left {
        width:480px;
        height:360px;
        margin-bottom: 15px;
    }
    #right {
        width:480px;
        height:360px;
        margin-top: 15px;
    }

    .images img:hover {
        transform: scale(1.3);
    }

    #right:hover {
        transform: scale(1.3) translateX(0px)
    }

    #left:hover {
        transform: scale(1.3) translateX(0px)
    }
}

@media all and (max-width: 500px){
    .images img {
        width:350px;
        height:250px;
    }

    #left {
        width:350px;
        height:250px;
        margin-bottom: 15px;
    }
    #right {
        width:350px;
        height:250px;
        margin-top: 15px;
    }
}